/* 
==========================
Logo
==========================
*/
.primary-header {
  background-color: #1DA1F2;
  font-size: 36px;
  font-weight: 75;
  font-family: 'Raleway', sans-serif;
  padding: 0px 0px;
  text-align: center;
  display: inline-block;


}
.primary-header h1 {
  color: #fff;
}
.twitter-logo {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 200px;
  width: 300px;
  float: left;
}
.twitter-title {
  display: inline-block;
  text-align: center;
  vertical-align: center;
  padding-right: 320px;
  padding-top: 10px;
}

/* Twitter color scheme: 
Primary Blue: #1DA1F2 
Black: HEX #14171A;
Dark Grey: HEX #657786
Light Grey: HEX #AAB8C2
Extra Light Grey: #F5F8FA
White: HEX #FFFFFF;
*/ 


/* 
=================================
Update Button and Tweet interface
=================================
*/

.tweet {
  border: 2px solid #1DA1F2;
  border-radius: 5px;
  padding: 0 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color: #14171A;
  margin-left: 10px;

}

.update-button {
  background-color: #AAB8C2;
  border-color: #FFFFFF;
  padding: 10px 50px;
  text-align: center;
  margin: 0 auto;
  color: #14171A;
}
.tweet-message {
  text-align: center;
  font-size: large;
  margin: 0 auto;
  

}
.post-time {
  font-size: small;
  font-style: italic;
  text-align: right;
}
.filterByUser {
  font-size: x-large;
  font-weight: bold;

}
/* Sizing */
.container {
  width: 960px;
  margin: 0 auto;
}


